<a href="https://colab.research.google.com/github/tiffanyndanu/MWK3/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2022_02_Tiffany_Ndanu_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **DATA PREPARATION**

**IMPORTING LIBRARIES.**

In [ ]:
#We will first import our dataset that we will use for the examples. We will do this by first
# Importing our pandas library 

import pandas as pd

**LOADING DATASET.**

In [ ]:
#storing the dataset location to the variable url.
url =  'http://bit.ly/autolib_dataset'

#reading the url and storing the datframe in the variable df.
df = pd.read_csv(url)

#preview of the first five rows
df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

# **DATA CLEANING.**

In [ ]:
#Dropping unnecessary columns.

df_clean = df.drop(columns = ['Cars' , 'Displayed comment' ,	'ID' ,'Geo point' , 'Public name' , 'Subscription status'])
df_clean.head()

                              Address  Bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 19 columns]

In [ ]:
#Checking for duplicates

df_clean.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

In [ ]:
#Dropping duplicates

df_clean.drop_duplicates()

                                 Address  Bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
...                                  ...              ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte                2  ...    11      26
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4998         2 avenue du Val de Fontenay                2  ...    17      27
4999                 5 Rue Henry Brisson                4  ...    10       2

[5000 rows x 19 columns]

In [ ]:
#Checking for missing values

df_clean.isnull().sum()

Address                  0
Bluecar counter          0
Utilib counter           0
Utilib 1.4 counter       0
Charge Slots             0
Charging Status          0
City                     0
Kind                     0
Postal code              0
Rental status            0
Scheduled at          4953
Slots                    0
Station type             0
Status                   0
year                     0
month                    0
day                      0
hour                     0
minute                   0
dtype: int64

In [ ]:
#Dropping column with missing values.

df_clean = df_clean.drop(columns = ['Scheduled at'])
df_clean.head()

                              Address  Bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 18 columns]

In [ ]:
#creating a new date and time column.


df_clean['Datetime'] = pd.to_datetime(df_clean[['year','month','day','hour','minute']])

df_clean.head(5)

                              Address  ...            Datetime
0                 2 Avenue de Suffren  ... 2018-04-08 11:43:00
1           145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00

[5 rows x 19 columns]

In [ ]:
#sorting the data in descending values according to the date

df_clean = df_clean.sort_values(by = 'Datetime')
df_clean.head(5)

                               Address  ...            Datetime
1046  112 Rue Monge BÃ¢timent Lieu-dit  ... 2018-04-01 00:00:00
1107          19 place de la Madeleine  ... 2018-04-01 00:02:00
2874         44 rue SÃ©bastien Mercier  ... 2018-04-01 00:02:00
2059                   2 Avenue Mozart  ... 2018-04-01 00:03:00
4453          2 rue Neuve Saint-Pierre  ... 2018-04-01 00:04:00

[5 rows x 19 columns]

In [ ]:
#Stripping ('.') from the Utilib 1.4 column name.

df.columns = df.columns.str.replace('.', '').str.replace('©','')
df.columns

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 14 counter', 'Charge Slots', 'Charging Status', 'City',
       'Displayed comment', 'ID', 'Kind', 'Geo point', 'Postal code',
       'Public name', 'Rental status', 'Scheduled at', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

# **DATA ANALYSIS**

In [ ]:
# Finding the usage of the blue car by the difference.

df_clean['Utilib_Usage'] = df_clean['Utilib counter'].diff()
df_clean

df_clean['Utilib 14 Usage'] = df_clean['Utilib 1.4 counter'].diff()
df_clean

df_clean['BC_Usage'] = df_clean['Bluecar counter'].diff()
df_clean

                                  Address  ...  sum_column
1046     112 Rue Monge BÃ¢timent Lieu-dit  ...         NaN
1107             19 place de la Madeleine  ...         0.0
2874            44 rue SÃ©bastien Mercier  ...         0.0
2059                      2 Avenue Mozart  ...         1.0
4453             2 rue Neuve Saint-Pierre  ...        -1.0
...                                   ...  ...         ...
2552             12 rue Denfert Rochereau  ...        -4.0
2672                       11 rue Gerbert  ...         1.0
4582                    82 rue de CrimÃ©e  ...         2.0
3201  21 bis rue Notre-Dame des Victoires  ...        -5.0
4443    31 Bis Rue du Faubourg Montmartre  ...         0.0

[5000 rows x 23 columns]

In [ ]:
# Sum of all car usages.

df_clean['sum_column'] = df_clean["BC_Usage"] + df_clean["Utilib_Usage"] + df_clean["Utilib 14 Usage"]

df_clean

                                  Address  ...  sum_column
1046     112 Rue Monge BÃ¢timent Lieu-dit  ...         NaN
1107             19 place de la Madeleine  ...         0.0
2874            44 rue SÃ©bastien Mercier  ...         0.0
2059                      2 Avenue Mozart  ...         1.0
4453             2 rue Neuve Saint-Pierre  ...        -1.0
...                                   ...  ...         ...
2552             12 rue Denfert Rochereau  ...        -4.0
2672                       11 rue Gerbert  ...         1.0
4582                    82 rue de CrimÃ©e  ...         2.0
3201  21 bis rue Notre-Dame des Victoires  ...        -5.0
4443    31 Bis Rue du Faubourg Montmartre  ...         0.0

[5000 rows x 23 columns]

In [ ]:
#Filtering out the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

df_clean1 = df_clean.loc[(df_clean['City'] == 'Paris') & (df_clean['Rental status'] == 'operational') & (df_clean['BC_Usage'] <0)]
df_clean1

                                  Address  ...  sum_column
4453             2 rue Neuve Saint-Pierre  ...        -1.0
4357               11 rue Marguerite Long  ...        -4.0
4792           20 Boulevard Ãmile Augier  ...        -1.0
3522          55 boulevard de la Villette  ...        -2.0
2410          55 boulevard de la Villette  ...        -1.0
...                                   ...  ...         ...
880                    44 Avenue George V  ...        -3.0
2300                       14 rue Censier  ...         0.0
4956                   3 rue de Vaugirard  ...        -2.0
3429                        28 rue Darcet  ...        -2.0
3201  21 bis rue Notre-Dame des Victoires  ...        -5.0

[1195 rows x 23 columns]

**1. Most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.**

In [ ]:
#single out the time with most picked up cars.


df_clean2 = df_clean1.groupby(['hour'])['BC_Usage'].agg(sum).sort_values(ascending=True)
df_clean2.head(1)

hour
2   -174.0
Name: BC_Usage, dtype: float64

In [ ]:
#What is the most popular hour for returning cars?
df_clean1 = df_clean.loc[(df_clean['City'] == 'Paris') & (df_clean['Rental status'] == 'operational') & (df_clean['BC_Usage'] >0)]
df_clean1

df_clean3 = df_clean1.groupby(['hour'])['sum_column'].sum().sort_values(ascending=True)
df_clean3.head()

hour
20    66.0
22    72.0
14    78.0
0     82.0
1     84.0
Name: sum_column, dtype: float64